fastapi
uvicorn
psycopg2-binary
pydantic
python-multipart
PyPDF2
openai
requests
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-dotenv
slowapi
bleach
pydantic[email]
langchain-groq